<header>
  <nav class="group">
    <span class="title"><a href="/">Daily Journal</a></span>
    <ul>
      <li id="first"><a href="/compose">Compose</a></li>
      <li id="sec"><a href="/about-us">About Us</a></li>
      <li id="third"><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>