<header>
  <nav class="group">
    <span class="title">Daily Journal</span>
    <ul>
      <li id="first"><a href="/">Home</a></li>
      <li id="sec"><a href="/about-us">About Us</a></li>
      <li id="third"><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>