<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs Website</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<%- include('partials/header') %>

<div class="container">
  <% let postTitle=post.title; 
     let postContent=post.blogContent; %>
    <h1><%=postTitle%></h1>
    <p><%=postContent%></p>
</div>

<%- include('partials/footer') %>
</body>

</html>